# Jeremiah O. Rhodes Final

## Import the data

In [1]:
import pandas as pd
import requests

# New Project

- Tell us about your project. Why did you choose that topic?
- Share your notebook and show us the methods you used on your analysis.
- Tell us about the challenges youâ€™ve faced with this project.
- What's been the most fun or interesting part of making this project?
- Be ready with questions about what you'd like to get some feedback for from the group.

## Download data

Download data from New York's open data portal regarding incidents of toxic spills

In [2]:
url = 'https://data.ny.gov/api/views/u44d-k5fk/rows.csv?fourfour=u44d-k5fk&accessType=DOWNLOAD&sorting=true'
r = requests.get(url, allow_redirects=False)

# write the content of the request into a file called `berkeley_311.csv`
open('new_york_spills.csv', 'wb').write(r.content)

96492173

In [3]:
pwd

'/Users/jeremiahrhodes/Documents/dev/finall'

## Read data into dataframe

In [4]:
ny_spills = pd.read_csv('new_york_spills.csv')

In [5]:
len(ny_spills)

542977

### Glance at data

In [6]:
ny_spills.head()

,Spill Number,Program Facility Name,Street 1,Street 2,Locality,County,ZIP Code,SWIS Code,DEC Region,Spill Date,Received Date,Contributing Factor,Waterbody,Source,Close Date,Material Name,Material Family,Quantity,Units,Recovered
0,107132,MH 864,RT 119/MILLWOOD RD,NaN,ELMSFORD,Westchester,NaN,6000,3,10/10/2001,10/10/2001,Unknown,NaN,Unknown,10/15/2001,unknown material,Other,10.0,Gallons,0.0
1,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,08/21/2004,08/21/2004,Other,EAST RIVER,Unknown,09/17/2004,raw sewage,Other,0.0,Pounds,0.0
2,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,08/21/2004,08/21/2004,Other,EAST RIVER,Unknown,09/17/2004,raw sewage,Other,0.0,NaN,0.0
3,204667,POLE 16091,GRACE AVE/BURKE AVE,NaN,BRONX,Bronx,NaN,301,2,08/02/2002,08/02/2002,Equipment Failure,NaN,Commercial/Industrial,10/28/2002,transformer oil,Petroleum,1.0,Gallons,0.0
4,210559,POLE ON,FERDALE LOMIS RD / RT 52,NaN,LIBERTY,Sullivan,NaN,5336,3,01/20/2003,01/20/2003,Traffic Accident,NaN,Commercial/Industrial,01/22/2003,transformer oil,Petroleum,6.0,Gallons,6.0

In [7]:
ny_spills.tail()

,Spill Number,Program Facility Name,Street 1,Street 2,Locality,County,ZIP Code,SWIS Code,DEC Region,Spill Date,Received Date,Contributing Factor,Waterbody,Source,Close Date,Material Name,Material Family,Quantity,Units,Recovered
542972,9904003,`-NYCT,5TH AND WEST 50 ST,NaN,MANHATTAN,New York,NaN,3101,2,07/06/1999,07/06/1999,Housekeeping,NaN,Commercial Vehicle,03/03/2009,diesel,Petroleum,20.0,Gallons,0.0
542973,304463,`-NYCT,35TH ST AND 11TH AVE,NaN,MANHATTAN,New York,NaN,3101,2,07/28/2003,07/28/2003,Unknown,NaN,Unknown,01/08/2014,unknown petroleum,Petroleum,0.0,Gallons,0.0
542974,9213322,`-NYCT / 146 ST,721 LENOX AVE,NaN,MANHATTAN,New York,NaN,3101,2,03/02/1993,03/02/1993,Tank Overfill,NaN,Commercial/Industrial,02/10/2003,#2 fuel oil,Petroleum,200.0,Gallons,0.0
542975,8909580,`-NYCT BUS DEPOT - S I,CASTLETON AVE @ RECTOR ST,NaN,STATEN ISLAND,Richmond,NaN,4301,2,01/05/1990,01/05/1990,Abandoned Drums,NaN,Commercial/Industrial,01/05/1990,unknown petroleum,Petroleum,0.0,NaN,0.0
542976,102768,`-RAVENSWOOD,3854 VERON BLVD,NaN,LONG ISLAND CITY,Queens,NaN,4101,2,06/13/2001,06/13/2001,Unknown,EAST RIVER,Unknown,05/07/2013,unknown petroleum,Petroleum,0.0,Gallons,0.0

In [8]:
ny_spills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542977 entries, 0 to 542976
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Spill Number           542977 non-null  int64
 1   Program Facility Name  542971 non-null  object
 2   Street 1               542846 non-null  object
 3   Street 2               42256 non-null   object
 4   Locality               541855 non-null  object
 5   County                 542977 non-null  object
 6   ZIP Code               51322 non-null   object
 7   SWIS Code              542977 non-null  int64
 8   DEC Region             542977 non-null  int64
 9   Spill Date             542825 non-null  object
 10  Received Date          542496 non-null  object
 11  Contributing Factor    542977 non-null  object
 12  Waterbody              46348 non-null   object
 13  Source                 542977 non-null  object
 14  Close Date             532243 non-null  object
 15  Material Name          542977 non-null  object
 16  Material Family        542977 non-null  object
 17  Quantity               542977 non-null  float64
 18  Units                  437434 non-null  object
 19  Recovered              542977 non-null  float64
dtypes: float64(2), int64(3), object(15)
memory usage: 82.9+ MB

### Convert spill date, close date and received date to date time dtype

In [9]:
ny_spills['Spill Date'] = pd.to_datetime(ny_spills['Spill Date'])
ny_spills['Received Date'] = pd.to_datetime(ny_spills['Received Date'])
ny_spills['Close Date'] = pd.to_datetime(ny_spills['Close Date'])

In [49]:
ny_spills['Spill Date']

0        2001-10-10
1        2004-08-21
2        2004-08-21
3        2002-08-02
4        2003-01-20
            ...
542972   1999-07-06
542973   2003-07-28
542974   1993-03-02
542975   1990-01-05
542976   2001-06-13
Name: Spill Date, Length: 542977, dtype: datetime64[ns]

### Create a new column that shows how much time it took for a case to be closed

In [11]:
ny_spills['Time_to_close'] = ny_spills['Close Date'] - ny_spills['Received Date']

In [12]:
ny_spills

,Spill Number,Program Facility Name,Street 1,Street 2,Locality,County,ZIP Code,SWIS Code,DEC Region,Spill Date,...,Contributing Factor,Waterbody,Source,Close Date,Material Name,Material Family,Quantity,Units,Recovered,Time_to_close
0,107132,MH 864,RT 119/MILLWOOD RD,NaN,ELMSFORD,Westchester,NaN,6000,3,2001-10-10,...,Unknown,NaN,Unknown,2001-10-15,unknown material,Other,10.0,Gallons,0.0,5 days
1,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,2004-08-21,...,Other,EAST RIVER,Unknown,2004-09-17,raw sewage,Other,0.0,Pounds,0.0,27 days
2,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,2004-08-21,...,Other,EAST RIVER,Unknown,2004-09-17,raw sewage,Other,0.0,NaN,0.0,27 days
3,204667,POLE 16091,GRACE AVE/BURKE AVE,NaN,BRONX,Bronx,NaN,301,2,2002-08-02,...,Equipment Failure,NaN,Commercial/Industrial,2002-10-28,transformer oil,Petroleum,1.0,Gallons,0.0,87 days
4,210559,POLE ON,FERDALE LOMIS RD / RT 52,NaN,LIBERTY,Sullivan,NaN,5336,3,2003-01-20,...,Traffic Accident,NaN,Commercial/Industrial,2003-01-22,transformer oil,Petroleum,6.0,Gallons,6.0,2 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542972,9904003,`-NYCT,5TH AND WEST 50 ST,NaN,MANHATTAN,New York,NaN,3101,2,1999-07-06,...,Housekeeping,NaN,Commercial Vehicle,2009-03-03,diesel,Petroleum,20.0,Gallons,0.0,3528 days
542973,304463,`-NYCT,35TH ST AND 11TH AVE,NaN,MANHATTAN,New York,NaN,3101,2,2003-07-28,...,Unknown,NaN,Unknown,2014-01-08,unknown petroleum,Petroleum,0.0,Gallons,0.0,3817 days
542974,9213322,`-NYCT / 146 ST,721 LENOX AVE,NaN,MANHATTAN,New York,NaN,3101,2,1993-03-02,...,Tank Overfill,NaN,Commercial/Industrial,2003-02-10,#2 fuel oil,Petroleum,200.0,Gallons,0.0,3632 days
542975,8909580,`-NYCT BUS DEPOT - S I,CASTLETON AVE @ RECTOR ST,NaN,STATEN ISLAND,Richmond,NaN,4301,2,1990-01-05,...,Abandoned Drums,NaN,Commercial/Industrial,1990-01-05,unknown petroleum,Petroleum,0.0,NaN,0.0,0 days
542976,102768,`-RAVENSWOOD,3854 VERON BLVD,NaN,LONG ISLAND CITY,Queens,NaN,4101,2,2001-06-13,...,Unknown,EAST RIVER,Unknown,2013-05-07,unknown petroleum,Petroleum,0.0,Gallons,0.0,4346 days

In [13]:
ny_spills['Time_to_close'].mean()

Timedelta('411 days 10:13:28.860823784')

In [14]:
ny_spills['Time_to_close'].median()

Timedelta('38 days 00:00:00')

In [25]:
ny_subset = ny_spills[['Spill Number', 'County', 'Spill Date', 'Close Date', 'Quantity', 'Units', 'Time_to_close', 'Material Name']]

In [26]:
ny_subset

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
0,107132,Westchester,2001-10-10,2001-10-15,10.0,Gallons,5 days,unknown material
1,405586,Queens,2004-08-21,2004-09-17,0.0,Pounds,27 days,raw sewage
2,405586,Queens,2004-08-21,2004-09-17,0.0,NaN,27 days,raw sewage
3,204667,Bronx,2002-08-02,2002-10-28,1.0,Gallons,87 days,transformer oil
4,210559,Sullivan,2003-01-20,2003-01-22,6.0,Gallons,2 days,transformer oil
...,...,...,...,...,...,...,...,...
542972,9904003,New York,1999-07-06,2009-03-03,20.0,Gallons,3528 days,diesel
542973,304463,New York,2003-07-28,2014-01-08,0.0,Gallons,3817 days,unknown petroleum
542974,9213322,New York,1993-03-02,2003-02-10,200.0,Gallons,3632 days,#2 fuel oil
542975,8909580,Richmond,1990-01-05,1990-01-05,0.0,NaN,0 days,unknown petroleum
542976,102768,Queens,2001-06-13,2013-05-07,0.0,Gallons,4346 days,unknown petroleum

### Only want spills from New York City, which has five counties: Bronx, Kings, Queens, Richmond and New York

In [27]:
just_nyc = ny_subset[(ny_subset['County'] == 'Bronx') | (ny_subset['County'] == 'Kings') | (ny_subset['County'] == 'New York') | (ny_subset['County'] == 'Queens') | (ny_subset['County'] == 'Richmond')]
just_nyc

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
1,405586,Queens,2004-08-21,2004-09-17,0.0,Pounds,27 days,raw sewage
2,405586,Queens,2004-08-21,2004-09-17,0.0,NaN,27 days,raw sewage
3,204667,Bronx,2002-08-02,2002-10-28,1.0,Gallons,87 days,transformer oil
6,104307,Queens,2001-07-23,2001-08-01,0.0,Gallons,9 days,unknown material
8,9606869,New York,1996-08-28,1996-08-29,2.0,Gallons,1 days,antifreeze
...,...,...,...,...,...,...,...,...
542972,9904003,New York,1999-07-06,2009-03-03,20.0,Gallons,3528 days,diesel
542973,304463,New York,2003-07-28,2014-01-08,0.0,Gallons,3817 days,unknown petroleum
542974,9213322,New York,1993-03-02,2003-02-10,200.0,Gallons,3632 days,#2 fuel oil
542975,8909580,Richmond,1990-01-05,1990-01-05,0.0,NaN,0 days,unknown petroleum
542976,102768,Queens,2001-06-13,2013-05-07,0.0,Gallons,4346 days,unknown petroleum

In [28]:
just_nyc.sort_values(by=['Time_to_close'], ascending=False).head(10)

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
13673,9404333,Bronx,1994-06-28,2003-02-28,0.0,Pounds,37500 days,#2 fuel oil
11043,9214327,Kings,1993-03-27,1998-10-26,0.0,Pounds,34910 days,antifreeze
11044,9214327,Kings,1993-03-27,1998-10-26,0.0,Pounds,34910 days,waste oil/used oil
209989,9313615,Bronx,2000-02-19,1995-09-05,0.0,NaN,34896 days,unknown petroleum
151350,9404109,Queens,1994-06-23,1997-02-13,0.0,Gallons,33838 days,gasoline
289013,8800357,Bronx,1988-04-11,1992-11-19,0.0,Gallons,33825 days,#4 fuel oil
4736,9207624,Queens,1992-09-17,1996-11-22,55.0,Gallons,32194 days,waste oil/used oil
22129,8801844,Queens,1988-05-28,1988-05-29,0.0,Gallons,32142 days,unknown petroleum
22130,8801844,Queens,1988-05-28,1988-05-29,0.0,NaN,32142 days,raw sewage
358866,9104263,Richmond,1991-07-22,1994-11-18,0.0,Gallons,31530 days,unknown petroleum

### Only want spills from the past 10 years

In [29]:
last_ten_years = just_nyc[just_nyc['Spill Date'] >= '2013-01-01'] 
last_ten_years

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
73,1305446,Bronx,2013-08-20,2018-07-23,5.00,Gallons,1798 days,#2 fuel oil
75,1307550,New York,2013-10-23,2013-10-23,5.00,Gallons,0 days,#2 fuel oil
78,1214667,Kings,2013-01-15,2014-02-13,152.00,Gallons,393 days,#2 fuel oil
79,1511260,New York,2016-02-24,2016-03-30,0.05,Gallons,35 days,#2 fuel oil
85,1607796,Richmond,2016-11-09,2017-05-25,0.00,NaN,197 days,#2 fuel oil
...,...,...,...,...,...,...,...,...
542403,1709896,Kings,2018-01-30,2018-01-30,5.00,Gallons,0 days,gasoline
542637,1800192,Kings,2017-12-31,2018-06-13,0.00,NaN,68 days,unknown material
542755,2102747,Richmond,2020-10-01,NaT,0.00,NaN,NaT,other - semi volitle organic compounds
542828,1606379,Queens,2016-09-27,2016-09-30,10.00,Gallons,3 days,#4 fuel oil
542955,1601260,Richmond,2016-05-07,2016-05-31,1.00,Gallons,24 days,gasoline

In [30]:
last_ten_years.sort_values(by=['Time_to_close'], ascending=False).head(10)

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
3653,1307426,New York,2013-10-18,2023-09-28,0.1,Gallons,3632 days,unknown petroleum
14713,1304944,New York,2013-08-06,2023-04-20,0.0,NaN,3544 days,#6 fuel oil
210157,1214400,Kings,2013-01-08,2022-06-28,0.0,NaN,3458 days,unknown petroleum
99196,1306370,Kings,2013-01-02,2023-02-06,0.0,NaN,3429 days,unknown material
214522,1310768,Queens,2014-02-12,2023-05-24,50.0,Gallons,3387 days,#2 fuel oil
490314,1308855,Bronx,2013-12-04,2023-02-07,0.0,Gallons,3352 days,#2 fuel oil
418582,1407055,Kings,2014-10-06,2023-11-02,0.0,NaN,3314 days,motor oil
473235,1301343,Kings,2013-05-09,2022-05-11,0.0,NaN,3289 days,#2 fuel oil
99190,1403569,Bronx,2014-07-03,2023-05-30,0.0,NaN,3253 days,#4 fuel oil
68027,1409412,Queens,2014-12-17,2023-10-25,0.0,Gallons,3234 days,unknown petroleum

In [31]:
last_ten_years.sort_values(by=['Quantity'], ascending=False).head(10)

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
32236,2107352,Queens,2021-11-09,2021-11-09,3416000.0,Gallons,0 days,jet fuel
423701,1214302,Kings,2013-01-05,2013-01-10,146000.0,Gallons,5 days,raw sewage
160625,1710723,Bronx,2018-02-26,2018-02-28,100000.0,Gallons,2 days,fire runoff
371683,1808399,Queens,2018-11-07,2018-11-07,60000.0,Gallons,0 days,#6 fuel oil
474203,1404163,Queens,2014-07-17,2014-07-17,50000.0,NaN,0 days,diesel
176032,1700784,New York,2017-04-25,2018-09-17,50000.0,Gallons,510 days,wastewater
67898,1901895,Queens,2019-05-20,2019-05-30,43595.0,Gallons,10 days,diesel
154083,1701182,Kings,2017-05-07,2022-07-06,37000.0,Gallons,1886 days,dielectric fluid
402618,1401675,Bronx,2014-05-16,2014-05-16,35000.0,Pounds,0 days,raw sewage
359854,1812785,Queens,2019-03-27,2019-03-29,26000.0,Pounds,0 days,other - R22

### Checking for duplicates

In [33]:
last_ten_years['Spill Number'].nunique()

16863

In [34]:
len(last_ten_years)

17301

In [35]:
last_ten_years[last_ten_years.duplicated()]

Empty DataFrame
Columns: [Spill Number, County, Spill Date, Close Date, Quantity, Units, Time_to_close, Material Name]
Index: []

In [36]:
last_ten_years[last_ten_years['Spill Number'].duplicated()]

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
6237,1214576,Bronx,2013-01-14,2013-04-05,10.0,Gallons,81 days,other - water
12032,1811650,Queens,2019-02-21,2020-01-27,0.0,NaN,339 days,gasoline
13117,2107001,Kings,2021-08-28,2021-10-28,0.0,NaN,0 days,unknown petroleum
15777,1306971,Queens,2013-10-03,2013-10-04,0.0,NaN,1 days,unknown material
16255,1502132,Kings,2015-05-28,2015-05-28,1.5,Pounds,0 days,asbestos
...,...,...,...,...,...,...,...,...
525793,2206537,New York,2022-10-29,2022-10-31,0.0,NaN,2 days,other - soap
527247,1809909,Bronx,2018-12-25,2019-04-11,200.0,Gallons,107 days,#2 fuel oil
532807,2106467,Bronx,2021-10-08,2021-10-12,0.0,NaN,4 days,unknown petroleum
538697,1310925,Queens,2014-02-19,2014-02-20,0.0,NaN,1 days,motor oil
540762,1303506,New York,2013-06-03,2018-01-29,5.0,Gallons,1672 days,diesel

In [37]:
dupe_cases = last_ten_years[last_ten_years['Spill Number'].duplicated()].copy()
dupe_cases

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
6237,1214576,Bronx,2013-01-14,2013-04-05,10.0,Gallons,81 days,other - water
12032,1811650,Queens,2019-02-21,2020-01-27,0.0,NaN,339 days,gasoline
13117,2107001,Kings,2021-08-28,2021-10-28,0.0,NaN,0 days,unknown petroleum
15777,1306971,Queens,2013-10-03,2013-10-04,0.0,NaN,1 days,unknown material
16255,1502132,Kings,2015-05-28,2015-05-28,1.5,Pounds,0 days,asbestos
...,...,...,...,...,...,...,...,...
525793,2206537,New York,2022-10-29,2022-10-31,0.0,NaN,2 days,other - soap
527247,1809909,Bronx,2018-12-25,2019-04-11,200.0,Gallons,107 days,#2 fuel oil
532807,2106467,Bronx,2021-10-08,2021-10-12,0.0,NaN,4 days,unknown petroleum
538697,1310925,Queens,2014-02-19,2014-02-20,0.0,NaN,1 days,motor oil
540762,1303506,New York,2013-06-03,2018-01-29,5.0,Gallons,1672 days,diesel

In [38]:
dupe_case_ids = dupe_cases['Spill Number'].unique()

In [39]:
dupe_case_ids

array([1214576, 1811650, 2107001, 1306971, 1502132, 1408282, 1909557,
       1806010, 1407866, 1215498, 1811463, 1309303, 1809686, 2110045,
       1805770, 1503165, 1810798, 2107946, 1506097, 1600764, 1300350,
       1600527, 1300067, 2207832, 2305582, 2110336, 1401448, 1806541,
       1407376, 2001654, 1510915, 1806002, 2206719, 1312246, 1607580,
       2201604, 1605633, 1406100, 2109549, 2201603, 1511773, 1611337,
       1403412, 1608445, 1702703, 1809007, 1504066, 1405212, 1501320,
       1804498, 2001094, 1711158, 2303774, 1905818, 1800767, 2304849,
       1605527, 1704075, 2204641, 1900167, 2202072, 1607904, 1608096,
       1802481, 1805363, 2208631, 1600231, 1906225, 2105263, 1510379,
       2203136, 1809032, 1903642, 1411810, 1607240, 1810424, 1606638,
       1505808, 1802513, 1701473, 1603763, 1508995, 2109794, 2109795,
       1911527, 1905667, 2007992, 1410072, 1411002, 2007491, 1903326,
       1812554, 1400287, 1704429, 1802772, 1708670, 1907331, 2207816,
       2208008, 1407807, 1610684, 1508795, 1801467, 2306375, 2305711,
       1600706, 2001346, 1404411, 1902782, 1403532, 1809925, 2008867,
       2004006, 1505003, 1601013, 1606396, 2306315, 1410063, 1611497,
       1809044, 1304283, 1408417, 1511915, 1903268, 2108368, 1303436,
       1412242, 1500904, 1306916, 1809370, 2204398, 2306808, 1703871,
       1804710, 2207351, 2300627, 1507277, 2208271, 1809480, 1215828,
       1500626, 1500962, 1505521, 1704463, 2004656, 1906429, 1512205,
       1804602, 1702067, 2301108, 1408430, 1701182, 1309252, 1600621,
       1902391, 1711452, 1303238, 1608001, 1302812, 1302811, 1409252,
       1605657, 1410476, 1606363, 1607576, 2306371, 1508236, 1304563,
       1215440, 1412067, 2201756, 1700454, 2107943, 2207777, 2209786,
       1710571, 1608637, 2108019, 2008123, 2100423, 2000574, 2206070,
       1302911, 2007058, 1406927, 1705260, 2102941, 1605762, 1402830,
       1304814, 2304209, 1504821, 1406961, 1405818, 1403875, 1405194,
       1406088, 1502126, 1401730, 1911238, 1710767, 1801710, 1701310,
       1805283, 1310506, 1708799, 1503539, 1408303, 1411073, 1411906,
       1410534, 1407699, 1502806, 1300013, 2306204, 1710587, 1304516,
       2004791, 2109165, 1908771, 2006213, 1511105, 1510640, 2101331,
       2104377, 1802257, 1304525, 1810349, 2301618, 1301240, 1903986,
       1311748, 1606060, 1302418, 1501768, 1902126, 2007347, 1309514,
       1509591, 1802862, 1802440, 1709333, 2202235, 2304446, 1704917,
       2200973, 2200756, 1708626, 2102895, 1501607, 1909855, 2109976,
       1311289, 1404365, 1709437, 1702545, 1700090, 1800607, 1216619,
       1701973, 1710094, 1705010, 1700200, 1702028, 1709537, 1708456,
       1805413, 2007899, 2107796, 1410962, 1302662, 1711571, 1507486,
       1804773, 1606640, 2110541, 2205491, 2201868, 1501265, 2008680,
       1911197, 1305815, 1216562, 1401675, 1402099, 1408584, 1500620,
       1507881, 1604903, 2102182, 2304556, 2301277, 1811834, 2100358,
       1809509, 1811389, 1904700, 1216625, 1302967, 1902553, 2106243,
       1908766, 2303516, 1304379, 1401357, 2104202, 1311075, 1701682,
       2303710, 2304573, 1306630, 1405471, 2205107, 1911712, 1501718,
       1602598, 1502849, 1700933, 1910828, 1503098, 1601281, 2301944,
       1806237, 1403137, 1611466, 1403594, 1507619, 2205500, 1701373,
       1810300, 1504626, 1906788, 1911324, 1909842, 1307775, 1302079,
       1805518, 1605603, 1900931, 1707698, 1710051, 1505618, 1810183,
       1807296, 1410955, 2103537, 1406369, 2208469, 1411766, 1600946,
       1609022, 2010245, 1402146, 1214376, 1214553, 1302554, 1403859,
       1309481, 1700341, 1309517, 1306037, 1601017, 2206537, 1809909,
       2106467, 1310925, 1303506])

In [40]:
last_ten_years[last_ten_years['Spill Number'].isin(dupe_case_ids)]

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
6236,1214576,Bronx,2013-01-14,2013-04-05,10.0,Gallons,81 days,dielectric fluid
6237,1214576,Bronx,2013-01-14,2013-04-05,10.0,Gallons,81 days,other - water
12031,1811650,Queens,2019-02-21,2020-01-27,0.0,NaN,339 days,diesel
12032,1811650,Queens,2019-02-21,2020-01-27,0.0,NaN,339 days,gasoline
13116,2107001,Kings,2021-08-28,2021-10-28,0.0,NaN,0 days,hydraulic oil
...,...,...,...,...,...,...,...,...
532807,2106467,Bronx,2021-10-08,2021-10-12,0.0,NaN,4 days,unknown petroleum
538696,1310925,Queens,2014-02-19,2014-02-20,0.0,NaN,1 days,diesel
538697,1310925,Queens,2014-02-19,2014-02-20,0.0,NaN,1 days,motor oil
540761,1303506,New York,2013-06-03,2018-01-29,5.0,Gallons,1672 days,hydraulic oil
540762,1303506,New York,2013-06-03,2018-01-29,5.0,Gallons,1672 days,diesel

In [42]:
last_ten_years.groupby(['County'])

In [43]:
last_ten_years.groupby(['County']).count()

,Spill Number,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
County,,,,,,,
Bronx,2578,2578,2431,2578,1378,2431,2578
Kings,3925,3925,3708,3925,1952,3704,3925
New York,3929,3929,3722,3929,2268,3722,3929
Queens,5584,5584,5349,5584,3403,5349,5584
Richmond,1285,1285,1242,1285,696,1241,1285

In [47]:
nyc_by_borough = last_ten_years.groupby('County')
nyc_by_borough