# Jeremiah O. Rhodes Final

## Import the data

In [1]:
import pandas as pd
import requests
import altair as alt

# New Project

- Tell us about your project. Why did you choose that topic?
- Share your notebook and show us the methods you used on your analysis.
- Tell us about the challenges youâ€™ve faced with this project.
- What's been the most fun or interesting part of making this project?
- Be ready with questions about what you'd like to get some feedback for from the group.

## Download data

Download data from New York's open data portal regarding incidents of toxic spills

In [2]:
url = 'https://data.ny.gov/api/views/u44d-k5fk/rows.csv?fourfour=u44d-k5fk&accessType=DOWNLOAD&sorting=true'
r = requests.get(url, allow_redirects=False)

# write the content of the request into a file called `berkeley_311.csv`
open('new_york_spills.csv', 'wb').write(r.content)

96546469

In [3]:
pwd

'/Users/jeremiahrhodes/GitHub/Advanced-coding/advanced-coding/advanced_coding_final_pro'

## Read data into dataframe

In [4]:
ny_spills = pd.read_csv('new_york_spills.csv')

In [5]:
len(ny_spills)

543289

### Glance at data

In [6]:
ny_spills.head(30)

,Spill Number,Program Facility Name,Street 1,Street 2,Locality,County,ZIP Code,SWIS Code,DEC Region,Spill Date,Received Date,Contributing Factor,Waterbody,Source,Close Date,Material Name,Material Family,Quantity,Units,Recovered
0,107132,MH 864,RT 119/MILLWOOD RD,NaN,ELMSFORD,Westchester,NaN,6000,3,10/10/2001,10/10/2001,Unknown,NaN,Unknown,10/15/2001,unknown material,Other,10.0,Gallons,0.0
1,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,08/21/2004,08/21/2004,Other,EAST RIVER,Unknown,09/17/2004,raw sewage,Other,0.0,Pounds,0.0
2,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,08/21/2004,08/21/2004,Other,EAST RIVER,Unknown,09/17/2004,raw sewage,Other,0.0,NaN,0.0
3,204667,POLE 16091,GRACE AVE/BURKE AVE,NaN,BRONX,Bronx,NaN,301,2,08/02/2002,08/02/2002,Equipment Failure,NaN,Commercial/Industrial,10/28/2002,transformer oil,Petroleum,1.0,Gallons,0.0
4,210559,POLE ON,FERDALE LOMIS RD / RT 52,NaN,LIBERTY,Sullivan,NaN,5336,3,01/20/2003,01/20/2003,Traffic Accident,NaN,Commercial/Industrial,01/22/2003,transformer oil,Petroleum,6.0,Gallons,6.0
5,311484,PRIVATE RESIDENCE,6568 GLEN HAVEN RD,NaN,SCOTT,Cortland,NaN,1238,7,01/11/2004,01/11/2004,Equipment Failure,NaN,Private Dwelling,08/25/2004,#2 fuel oil,Petroleum,75.0,Gallons,0.0
6,104307,149TH RD,"183RD ST, 149TH AV& 149RD",NaN,QUEENS,Queens,NaN,4101,2,07/23/2001,07/23/2001,Abandoned Drums,NaN,Unknown,08/01/2001,unknown material,Other,0.0,Gallons,0.0
7,160046,ABANDONED DRUMS,BAKER SCHOOL HOUSE ROAD,NaN,SOLON,Cortland,NaN,1200,7,11/23/2001,11/23/2001,Abandoned Drums,NaN,Unknown,05/14/2002,unknown material,Other,0.0,Gallons,0.0
8,9606869,AMSTERDAM AVE,WEST 79 TH STREET,NaN,NYC,New York,NaN,3101,2,08/28/1996,08/28/1996,Traffic Accident,NaN,Commercial Vehicle,08/29/1996,antifreeze,Other,2.0,Gallons,2.0
9,312198,APARTMENT BUILDING,4 SOUTH SIDE TERRACE APAR,NaN,NEW PALTZ,Ulster,NaN,5638,3,02/02/2004,02/02/2004,Tank Failure,NaN,Commercial/Industrial,04/05/2004,#2 fuel oil,Petroleum,0.0,Pounds,0.0
10,109039,APT BUILDING ',94-06 34TH RD,NaN,QUEENS,Queens,NaN,4101,2,12/11/2001,12/11/2001,Equipment Failure,NaN,Tank Truck,12/21/2001,#2 fuel oil,Petroleum,5.0,Gallons,5.0
11,312848,BROOKLYN TECH HIGHSCHOOL,29 FORT GREEN PLACE,NaN,BROOKLYN,Kings,NaN,2401,2,02/20/2004,02/20/2004,Human Error,NaN,"Institutional, Educational, Gov., Other",02/27/2004,#6 fuel oil,Petroleum,10.0,Gallons,0.0
12,260048,CRAINS MILL ROAD,CRAINS MILL ROAD,NaN,TRUXTON,Cortland,NaN,1244,7,10/16/2002,10/16/2002,Deliberate,NaN,Unknown,10/20/2002,unknown material,Other,0.0,Gallons,0.0
13,400907,CSX RAILYARD,644 ULSTER AVE,NaN,KINGSTON,Ulster,NaN,5630,3,04/27/2004,04/27/2004,Equipment Failure,NaN,Railroad Car,04/27/2004,lube oil,Petroleum,10.0,Gallons,0.0
14,304214,CULL RESIDENCE,88 FARAH LN,NaN,MIDDLETOWN,Orange,NaN,3609,3,07/22/2003,07/22/2003,Deliberate,NaN,Private Dwelling,07/30/2003,#2 fuel oil,Petroleum,0.0,Gallons,0.0
15,8342,GREER TOYOTA,1420 RT 9,NaN,WAPPINGERS FALLS,Dutchess,NaN,1400,3,10/12/2000,10/17/2000,Tank Failure,NaN,Commercial/Industrial,10/17/2000,waste oil/used oil,Petroleum,0.0,Gallons,0.0
16,405793,MANHOLE #58430,W 59TH ST / 12TH AV,NaN,MANHATTAN,New York,NaN,3101,2,08/26/2004,08/26/2004,Unknown,NaN,Unknown,10/23/2006,unknown petroleum,Petroleum,1.0,NaN,0.0
17,405793,MANHOLE #58430,W 59TH ST / 12TH AV,NaN,MANHATTAN,New York,NaN,3101,2,08/26/2004,08/26/2004,Unknown,NaN,Unknown,10/23/2006,unknown petroleum,Petroleum,1.0,Pounds,0.0
18,313032,MANHOLE #6014,156-170 WEST 42ND STREET,NaN,MANHATTAN,New York,NaN,3101,2,02/26/2004,02/26/2004,Unknown,NaN,Unknown,07/15/2004,unknown petroleum,Petroleum,2.0,Gallons,0.0
19,9814599,MANHOLE 2981,CLASSON AVE & FULTON ST,NaN,BROOKLYN,Kings,NaN,2401,2,03/08/1999,03/08/1999,Unknown,NaN,Unknown,03/22/1999,unknown petroleum,Petroleum,4.0,Gallons,0.0
20,401659,MANHOLE 4467,GRAND ARMY PLAZA/BANDERBI,NaN,BROOKLYN,Kings,NaN,2401,2,05/15/2004,05/15/2004,Unknown,NaN,Unknown,09/14/2004,unknown petroleum,Petroleum,1.0,Gallons,0.0
21,11768,MANHOLE 829,WILLIAMSBURG PL & PARK AV,NaN,NEW YORK CITY,Kings,NaN,2401,2,01/31/2001,01/31/2001,Unknown,NaN,Unknown,06/05/2001,unknown petroleum,Petroleum,1.0,Gallons,0.0
22,208773,MH 17516,LOCUST AV/E 140TH ST,NaN,BRONX,Bronx,NaN,301,2,11/23/2002,11/24/2002,Unknown,NaN,Unknown,11/27/2002,unknown material,Other,1.0,Gallons,0.0
23,260008,MOBIL OIL COMPANY,452 GRANT BOULEVARD,NaN,SYRACUSE,Onondaga,NaN,3415,7,04/19/2002,04/19/2002,Equipment Failure,NaN,Gasoline Station or other PBS Facility,04/24/2002,gasoline,Petroleum,3.0,Gallons,3.0
24,9601810,MORGAN RD,BWTN RT31 & WETZEL RD,NaN,LIVERPOOL,Onondaga,NaN,3400,7,05/05/1996,05/06/1996,Unknown,NaN,Unknown,07/30/1996,waste oil/used oil,Petroleum,0.0,Gallons,0.0
25,203407,MR. PRASAUD,317 WOODBINE ST,NaN,BROOKLYN,Kings,NaN,2401,2,07/01/2002,07/01/2002,Equipment Failure,NaN,Commercial Vehicle,12/15/2003,#2 fuel oil,Petroleum,3.0,Gallons,0.0
26,9510933,NEUBERGER RESIDENCE,2 TRINITY PL,NaN,RHINEBECK,Dutchess,NaN,1450,3,11/30/1995,11/30/1995,Tank Overfill,NaN,Private Dwelling,12/04/1995,#2 fuel oil,Petroleum,1.0,Gallons,1.0
27,405145,NIMO,100 BLOCK DIDAMA ST,NaN,SYRACUSE,Onondaga,NaN,3415,7,08/10/2004,08/10/2004,Equipment Failure,NaN,Commercial Vehicle,09/13/2004,hydraulic oil,Petroleum,2.0,Gallons,0.0
28,405145,NIMO,100 BLOCK DIDAMA ST,NaN,SYRACUSE,Onondaga,NaN,3415,7,08/10/2004,08/10/2004,Equipment Failure,NaN,Commercial Vehicle,09/13/2004,hydraulic oil,Petroleum,2.0,Gallons,2.0
29,9600156,NIMO GARAGE,47 MILL ST,NaN,MIDDLE FALLS,Saratoga,NaN,4600,5,04/03/1996,04/03/1996,Equipment Failure,NaN,Commercial Vehicle,07/22/1996,hydraulic oil,Petroleum,2.0,Gallons,2.0

In [7]:
ny_spills.tail()

,Spill Number,Program Facility Name,Street 1,Street 2,Locality,County,ZIP Code,SWIS Code,DEC Region,Spill Date,Received Date,Contributing Factor,Waterbody,Source,Close Date,Material Name,Material Family,Quantity,Units,Recovered
543284,9904003,`-NYCT,5TH AND WEST 50 ST,NaN,MANHATTAN,New York,NaN,3101,2,07/06/1999,07/06/1999,Housekeeping,NaN,Commercial Vehicle,03/03/2009,diesel,Petroleum,20.0,Gallons,0.0
543285,304463,`-NYCT,35TH ST AND 11TH AVE,NaN,MANHATTAN,New York,NaN,3101,2,07/28/2003,07/28/2003,Unknown,NaN,Unknown,01/08/2014,unknown petroleum,Petroleum,0.0,Gallons,0.0
543286,9213322,`-NYCT / 146 ST,721 LENOX AVE,NaN,MANHATTAN,New York,NaN,3101,2,03/02/1993,03/02/1993,Tank Overfill,NaN,Commercial/Industrial,02/10/2003,#2 fuel oil,Petroleum,200.0,Gallons,0.0
543287,8909580,`-NYCT BUS DEPOT - S I,CASTLETON AVE @ RECTOR ST,NaN,STATEN ISLAND,Richmond,NaN,4301,2,01/05/1990,01/05/1990,Abandoned Drums,NaN,Commercial/Industrial,01/05/1990,unknown petroleum,Petroleum,0.0,NaN,0.0
543288,102768,`-RAVENSWOOD,3854 VERON BLVD,NaN,LONG ISLAND CITY,Queens,NaN,4101,2,06/13/2001,06/13/2001,Unknown,EAST RIVER,Unknown,05/07/2013,unknown petroleum,Petroleum,0.0,Gallons,0.0

## Take a look at the data types of each column

In [8]:
ny_spills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543289 entries, 0 to 543288
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Spill Number           543289 non-null  int64
 1   Program Facility Name  543283 non-null  object
 2   Street 1               543158 non-null  object
 3   Street 2               42275 non-null   object
 4   Locality               542166 non-null  object
 5   County                 543289 non-null  object
 6   ZIP Code               51365 non-null   object
 7   SWIS Code              543289 non-null  int64
 8   DEC Region             543289 non-null  int64
 9   Spill Date             543137 non-null  object
 10  Received Date          542807 non-null  object
 11  Contributing Factor    543289 non-null  object
 12  Waterbody              46361 non-null   object
 13  Source                 543289 non-null  object
 14  Close Date             532575 non-null  object
 15  Material Name          543289 non-null  object
 16  Material Family        543289 non-null  object
 17  Quantity               543289 non-null  float64
 18  Units                  437595 non-null  object
 19  Recovered              543289 non-null  float64
dtypes: float64(2), int64(3), object(15)
memory usage: 82.9+ MB

### Convert spill date, close date and received date to date time dtype

In [9]:
ny_spills['Spill Date'] = pd.to_datetime(ny_spills['Spill Date'])
ny_spills['Received Date'] = pd.to_datetime(ny_spills['Received Date'])
ny_spills['Close Date'] = pd.to_datetime(ny_spills['Close Date'])

In [10]:
ny_spills['Spill Date']

0        2001-10-10
1        2004-08-21
2        2004-08-21
3        2002-08-02
4        2003-01-20
            ...
543284   1999-07-06
543285   2003-07-28
543286   1993-03-02
543287   1990-01-05
543288   2001-06-13
Name: Spill Date, Length: 543289, dtype: datetime64[ns]

### Create a new column that shows how much time it took for a case to be closed

In [11]:
ny_spills['Time_to_close'] = ny_spills['Close Date'] - ny_spills['Received Date']

In [12]:
ny_spills

,Spill Number,Program Facility Name,Street 1,Street 2,Locality,County,ZIP Code,SWIS Code,DEC Region,Spill Date,...,Contributing Factor,Waterbody,Source,Close Date,Material Name,Material Family,Quantity,Units,Recovered,Time_to_close
0,107132,MH 864,RT 119/MILLWOOD RD,NaN,ELMSFORD,Westchester,NaN,6000,3,2001-10-10,...,Unknown,NaN,Unknown,2001-10-15,unknown material,Other,10.0,Gallons,0.0,5 days
1,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,2004-08-21,...,Other,EAST RIVER,Unknown,2004-09-17,raw sewage,Other,0.0,Pounds,0.0,27 days
2,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,2004-08-21,...,Other,EAST RIVER,Unknown,2004-09-17,raw sewage,Other,0.0,NaN,0.0,27 days
3,204667,POLE 16091,GRACE AVE/BURKE AVE,NaN,BRONX,Bronx,NaN,301,2,2002-08-02,...,Equipment Failure,NaN,Commercial/Industrial,2002-10-28,transformer oil,Petroleum,1.0,Gallons,0.0,87 days
4,210559,POLE ON,FERDALE LOMIS RD / RT 52,NaN,LIBERTY,Sullivan,NaN,5336,3,2003-01-20,...,Traffic Accident,NaN,Commercial/Industrial,2003-01-22,transformer oil,Petroleum,6.0,Gallons,6.0,2 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543284,9904003,`-NYCT,5TH AND WEST 50 ST,NaN,MANHATTAN,New York,NaN,3101,2,1999-07-06,...,Housekeeping,NaN,Commercial Vehicle,2009-03-03,diesel,Petroleum,20.0,Gallons,0.0,3528 days
543285,304463,`-NYCT,35TH ST AND 11TH AVE,NaN,MANHATTAN,New York,NaN,3101,2,2003-07-28,...,Unknown,NaN,Unknown,2014-01-08,unknown petroleum,Petroleum,0.0,Gallons,0.0,3817 days
543286,9213322,`-NYCT / 146 ST,721 LENOX AVE,NaN,MANHATTAN,New York,NaN,3101,2,1993-03-02,...,Tank Overfill,NaN,Commercial/Industrial,2003-02-10,#2 fuel oil,Petroleum,200.0,Gallons,0.0,3632 days
543287,8909580,`-NYCT BUS DEPOT - S I,CASTLETON AVE @ RECTOR ST,NaN,STATEN ISLAND,Richmond,NaN,4301,2,1990-01-05,...,Abandoned Drums,NaN,Commercial/Industrial,1990-01-05,unknown petroleum,Petroleum,0.0,NaN,0.0,0 days
543288,102768,`-RAVENSWOOD,3854 VERON BLVD,NaN,LONG ISLAND CITY,Queens,NaN,4101,2,2001-06-13,...,Unknown,EAST RIVER,Unknown,2013-05-07,unknown petroleum,Petroleum,0.0,Gallons,0.0,4346 days

In [13]:
ny_spills.head(40)

,Spill Number,Program Facility Name,Street 1,Street 2,Locality,County,ZIP Code,SWIS Code,DEC Region,Spill Date,...,Contributing Factor,Waterbody,Source,Close Date,Material Name,Material Family,Quantity,Units,Recovered,Time_to_close
0,107132,MH 864,RT 119/MILLWOOD RD,NaN,ELMSFORD,Westchester,NaN,6000,3,2001-10-10,...,Unknown,NaN,Unknown,2001-10-15,unknown material,Other,10.0,Gallons,0.0,5 days
1,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,2004-08-21,...,Other,EAST RIVER,Unknown,2004-09-17,raw sewage,Other,0.0,Pounds,0.0,27 days
2,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,2004-08-21,...,Other,EAST RIVER,Unknown,2004-09-17,raw sewage,Other,0.0,NaN,0.0,27 days
3,204667,POLE 16091,GRACE AVE/BURKE AVE,NaN,BRONX,Bronx,NaN,301,2,2002-08-02,...,Equipment Failure,NaN,Commercial/Industrial,2002-10-28,transformer oil,Petroleum,1.0,Gallons,0.0,87 days
4,210559,POLE ON,FERDALE LOMIS RD / RT 52,NaN,LIBERTY,Sullivan,NaN,5336,3,2003-01-20,...,Traffic Accident,NaN,Commercial/Industrial,2003-01-22,transformer oil,Petroleum,6.0,Gallons,6.0,2 days
5,311484,PRIVATE RESIDENCE,6568 GLEN HAVEN RD,NaN,SCOTT,Cortland,NaN,1238,7,2004-01-11,...,Equipment Failure,NaN,Private Dwelling,2004-08-25,#2 fuel oil,Petroleum,75.0,Gallons,0.0,227 days
6,104307,149TH RD,"183RD ST, 149TH AV& 149RD",NaN,QUEENS,Queens,NaN,4101,2,2001-07-23,...,Abandoned Drums,NaN,Unknown,2001-08-01,unknown material,Other,0.0,Gallons,0.0,9 days
7,160046,ABANDONED DRUMS,BAKER SCHOOL HOUSE ROAD,NaN,SOLON,Cortland,NaN,1200,7,2001-11-23,...,Abandoned Drums,NaN,Unknown,2002-05-14,unknown material,Other,0.0,Gallons,0.0,172 days
8,9606869,AMSTERDAM AVE,WEST 79 TH STREET,NaN,NYC,New York,NaN,3101,2,1996-08-28,...,Traffic Accident,NaN,Commercial Vehicle,1996-08-29,antifreeze,Other,2.0,Gallons,2.0,1 days
9,312198,APARTMENT BUILDING,4 SOUTH SIDE TERRACE APAR,NaN,NEW PALTZ,Ulster,NaN,5638,3,2004-02-02,...,Tank Failure,NaN,Commercial/Industrial,2004-04-05,#2 fuel oil,Petroleum,0.0,Pounds,0.0,63 days
10,109039,APT BUILDING ',94-06 34TH RD,NaN,QUEENS,Queens,NaN,4101,2,2001-12-11,...,Equipment Failure,NaN,Tank Truck,2001-12-21,#2 fuel oil,Petroleum,5.0,Gallons,5.0,10 days
11,312848,BROOKLYN TECH HIGHSCHOOL,29 FORT GREEN PLACE,NaN,BROOKLYN,Kings,NaN,2401,2,2004-02-20,...,Human Error,NaN,"Institutional, Educational, Gov., Other",2004-02-27,#6 fuel oil,Petroleum,10.0,Gallons,0.0,7 days
12,260048,CRAINS MILL ROAD,CRAINS MILL ROAD,NaN,TRUXTON,Cortland,NaN,1244,7,2002-10-16,...,Deliberate,NaN,Unknown,2002-10-20,unknown material,Other,0.0,Gallons,0.0,4 days
13,400907,CSX RAILYARD,644 ULSTER AVE,NaN,KINGSTON,Ulster,NaN,5630,3,2004-04-27,...,Equipment Failure,NaN,Railroad Car,2004-04-27,lube oil,Petroleum,10.0,Gallons,0.0,0 days
14,304214,CULL RESIDENCE,88 FARAH LN,NaN,MIDDLETOWN,Orange,NaN,3609,3,2003-07-22,...,Deliberate,NaN,Private Dwelling,2003-07-30,#2 fuel oil,Petroleum,0.0,Gallons,0.0,8 days
15,8342,GREER TOYOTA,1420 RT 9,NaN,WAPPINGERS FALLS,Dutchess,NaN,1400,3,2000-10-12,...,Tank Failure,NaN,Commercial/Industrial,2000-10-17,waste oil/used oil,Petroleum,0.0,Gallons,0.0,0 days
16,405793,MANHOLE #58430,W 59TH ST / 12TH AV,NaN,MANHATTAN,New York,NaN,3101,2,2004-08-26,...,Unknown,NaN,Unknown,2006-10-23,unknown petroleum,Petroleum,1.0,NaN,0.0,788 days
17,405793,MANHOLE #58430,W 59TH ST / 12TH AV,NaN,MANHATTAN,New York,NaN,3101,2,2004-08-26,...,Unknown,NaN,Unknown,2006-10-23,unknown petroleum,Petroleum,1.0,Pounds,0.0,788 days
18,313032,MANHOLE #6014,156-170 WEST 42ND STREET,NaN,MANHATTAN,New York,NaN,3101,2,2004-02-26,...,Unknown,NaN,Unknown,2004-07-15,unknown petroleum,Petroleum,2.0,Gallons,0.0,140 days
19,9814599,MANHOLE 2981,CLASSON AVE & FULTON ST,NaN,BROOKLYN,Kings,NaN,2401,2,1999-03-08,...,Unknown,NaN,Unknown,1999-03-22,unknown petroleum,Petroleum,4.0,Gallons,0.0,14 days
20,401659,MANHOLE 4467,GRAND ARMY PLAZA/BANDERBI,NaN,BROOKLYN,Kings,NaN,2401,2,2004-05-15,...,Unknown,NaN,Unknown,2004-09-14,unknown petroleum,Petroleum,1.0,Gallons,0.0,122 days
21,11768,MANHOLE 829,WILLIAMSBURG PL & PARK AV,NaN,NEW YORK CITY,Kings,NaN,2401,2,2001-01-31,...,Unknown,NaN,Unknown,2001-06-05,unknown petroleum,Petroleum,1.0,Gallons,0.0,125 days
22,208773,MH 17516,LOCUST AV/E 140TH ST,NaN,BRONX,Bronx,NaN,301,2,2002-11-23,...,Unknown,NaN,Unknown,2002-11-27,unknown material,Other,1.0,Gallons,0.0,3 days
23,260008,MOBIL OIL COMPANY,452 GRANT BOULEVARD,NaN,SYRACUSE,Onondaga,NaN,3415,7,2002-04-19,...,Equipment Failure,NaN,Gasoline Station or other PBS Facility,2002-04-24,gasoline,Petroleum,3.0,Gallons,3.0,5 days
24,9601810,MORGAN RD,BWTN RT31 & WETZEL RD,NaN,LIVERPOOL,Onondaga,NaN,3400,7,1996-05-05,...,Unknown,NaN,Unknown,1996-07-30,waste oil/used oil,Petroleum,0.0,Gallons,0.0,85 days
25,203407,MR. PRASAUD,317 WOODBINE ST,NaN,BROOKLYN,Kings,NaN,2401,2,2002-07-01,...,Equipment Failure,NaN,Commercial Vehicle,2003-12-15,#2 fuel oil,Petroleum,3.0,Gallons,0.0,532 days
26,9510933,NEUBERGER RESIDENCE,2 TRINITY PL,NaN,RHINEBECK,Dutchess,NaN,1450,3,1995-11-30,...,Tank Overfill,NaN,Private Dwelling,1995-12-04,#2 fuel oil,Petroleum,1.0,Gallons,1.0,4 days
27,405145,NIMO,100 BLOCK DIDAMA ST,NaN,SYRACUSE,Onondaga,NaN,3415,7,2004-08-10,...,Equipment Failure,NaN,Commercial Vehicle,2004-09-13,hydraulic oil,Petroleum,2.0,Gallons,0.0,34 days
28,405145,NIMO,100 BLOCK DIDAMA ST,NaN,SYRACUSE,Onondaga,NaN,3415,7,2004-08-10,...,Equipment Failure,NaN,Commercial Vehicle,2004-09-13,hydraulic oil,Petroleum,2.0,Gallons,2.0,34 days
29,9600156,NIMO GARAGE,47 MILL ST,NaN,MIDDLE FALLS,Saratoga,NaN,4600,5,1996-04-03,...,Equipment Failure,NaN,Commercial Vehicle,1996-07-22,hydraulic oil,Petroleum,2.0,Gallons,2.0,110 days
30,360027,OIL ON ROADWAY,TURNPIKE ROAD,NaN,THROOP AURELIUS,Cayuga,NaN,600,7,2003-07-21,...,Equipment Failure,NaN,Unknown,2003-08-06,unknown petroleum,Petroleum,0.0,Gallons,0.0,16 days
31,400255,PRIVATE RESIDENCE,133 -45 114TH STREET,NaN,QUEENS,Queens,NaN,4101,2,2004-04-08,...,Human Error,NaN,Private Dwelling,2004-04-08,paint,Other,0.0,Pounds,0.0,0 days
32,9960027,ROUTE 3 BRIDGE PROJECTS,RT 3,NaN,FULTON,Oswego,NaN,3804,7,1999-08-11,...,Unknown,NaN,Unknown,2000-01-10,unknown petroleum,Petroleum,0.0,Gallons,0.0,152 days
33,9960027,ROUTE 3 BRIDGE PROJECTS,RT 3,NaN,FULTON,Oswego,NaN,3804,7,1999-08-11,...,Unknown,NaN,Unknown,2000-01-10,paint,Other,0.0,Gallons,0.0,152 days
34,405339,"RT 17M, BETWEEN",ST RT 17/HARRIMAN,NaN,HARRIMAN,Orange,NaN,3600,3,2004-08-16,...,Other,NaN,Commercial Vehicle,2004-08-16,#2 fuel oil,Petroleum,0.0,NaN,0.0,0 days
35,405339,"RT 17M, BETWEEN",ST RT 17/HARRIMAN,NaN,HARRIMAN,Orange,NaN,3600,3,2004-08-16,...,Other,NaN,Commercial Vehicle,2004-08-16,#2 fuel oil,Petroleum,0.0,Pounds,0.0,0 days
36,9903892,SOUTH OF BAYVIEW AVE,WEST SIDE OF SEAGATE AVE,NaN,BROOKLYN,Kings,NaN,2401,2,1999-07-05,...,Equipment Failure,NaN,Commercial/Industrial,2002-04-04,transformer oil,Petroleum,1.0,Gallons,0.0,1004 days
37,201083,SUN UP TRUCK PLAZA,2023 RT 104,NaN,PERSH,Oswego,NaN,3800,7,2002-04-08,...,Unknown,NaN,Unknown,2003-10-31,gasoline,Petroleum,0.0,Gallons,0.0,550 days
38,9603997,THRUWAY EXIT 34A,I-90,NYS THRUWAY,SYRACUSE,Onondaga,NaN,3415,7,1996-06-24,...,Traffic Accident,NaN,Commercial Vehicle,1996-07-03,lime,Other,10.0,Gallons,0.0,9 days
39,311082,VACANT PROPERTY,RT 209 & CLAY HILL RD,NaN,KERHONKSON,Ulster,NaN,5600,3,2003-12-29,...,Other,NaN,Commercial/Industrial,2004-02-27,gasoline,Petroleum,0.0,Pounds,0.0,60 days

In [14]:
ny_spills['Time_to_close'].mean()

Timedelta('411 days 09:22:32.620787768')

In [15]:
ny_spills['Time_to_close'].median()

Timedelta('38 days 00:00:00')

I don't need all of the columns contained in the ny_spills dataframe, so I'll get rid of some

In [16]:
ny_subset = ny_spills[['Spill Number', 'County', 'Spill Date', 'Close Date', 'Quantity', 'Units', 'Time_to_close', 'Material Name']]

In [17]:
ny_subset

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
0,107132,Westchester,2001-10-10,2001-10-15,10.0,Gallons,5 days,unknown material
1,405586,Queens,2004-08-21,2004-09-17,0.0,Pounds,27 days,raw sewage
2,405586,Queens,2004-08-21,2004-09-17,0.0,NaN,27 days,raw sewage
3,204667,Bronx,2002-08-02,2002-10-28,1.0,Gallons,87 days,transformer oil
4,210559,Sullivan,2003-01-20,2003-01-22,6.0,Gallons,2 days,transformer oil
...,...,...,...,...,...,...,...,...
543284,9904003,New York,1999-07-06,2009-03-03,20.0,Gallons,3528 days,diesel
543285,304463,New York,2003-07-28,2014-01-08,0.0,Gallons,3817 days,unknown petroleum
543286,9213322,New York,1993-03-02,2003-02-10,200.0,Gallons,3632 days,#2 fuel oil
543287,8909580,Richmond,1990-01-05,1990-01-05,0.0,NaN,0 days,unknown petroleum
543288,102768,Queens,2001-06-13,2013-05-07,0.0,Gallons,4346 days,unknown petroleum

### Furthermore, I only want spills from New York City, which has five counties: Bronx, Kings, Queens, Richmond and New York

In [36]:
just_nyc = ny_subset[(ny_subset['County'] == 'Bronx') | (ny_subset['County'] == 'Kings') | (ny_subset['County'] == 'New York') | (ny_subset['County'] == 'Queens') | (ny_subset['County'] == 'Richmond')]
just_nyc

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
1,405586,Queens,2004-08-21,2004-09-17,0.0,Pounds,27 days,raw sewage
2,405586,Queens,2004-08-21,2004-09-17,0.0,NaN,27 days,raw sewage
3,204667,Bronx,2002-08-02,2002-10-28,1.0,Gallons,87 days,transformer oil
6,104307,Queens,2001-07-23,2001-08-01,0.0,Gallons,9 days,unknown material
8,9606869,New York,1996-08-28,1996-08-29,2.0,Gallons,1 days,antifreeze
...,...,...,...,...,...,...,...,...
543284,9904003,New York,1999-07-06,2009-03-03,20.0,Gallons,3528 days,diesel
543285,304463,New York,2003-07-28,2014-01-08,0.0,Gallons,3817 days,unknown petroleum
543286,9213322,New York,1993-03-02,2003-02-10,200.0,Gallons,3632 days,#2 fuel oil
543287,8909580,Richmond,1990-01-05,1990-01-05,0.0,NaN,0 days,unknown petroleum
543288,102768,Queens,2001-06-13,2013-05-07,0.0,Gallons,4346 days,unknown petroleum

In [37]:
just_nyc.sort_values(by=['Time_to_close'], ascending=False).head(10)

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
13674,9404333,Bronx,1994-06-28,2003-02-28,0.0,Pounds,37500 days,#2 fuel oil
11045,9214327,Kings,1993-03-27,1998-10-26,0.0,Pounds,34910 days,waste oil/used oil
11044,9214327,Kings,1993-03-27,1998-10-26,0.0,Pounds,34910 days,antifreeze
210087,9313615,Bronx,2000-02-19,1995-09-05,0.0,NaN,34896 days,unknown petroleum
151425,9404109,Queens,1994-06-23,1997-02-13,0.0,Gallons,33838 days,gasoline
289138,8800357,Bronx,1988-04-11,1992-11-19,0.0,Gallons,33825 days,#4 fuel oil
4737,9207624,Queens,1992-09-17,1996-11-22,55.0,Gallons,32194 days,waste oil/used oil
22134,8801844,Queens,1988-05-28,1988-05-29,0.0,NaN,32142 days,raw sewage
22133,8801844,Queens,1988-05-28,1988-05-29,0.0,Gallons,32142 days,unknown petroleum
359035,9104263,Richmond,1991-07-22,1994-11-18,0.0,Gallons,31530 days,unknown petroleum

### Only want spills from the past 10 years

In [38]:
last_ten_years = just_nyc[just_nyc['Spill Date'] >= '2013-01-01'] 
last_ten_years

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
74,1305446,Bronx,2013-08-20,2018-07-23,5.00,Gallons,1798 days,#2 fuel oil
76,1307550,New York,2013-10-23,2013-10-23,5.00,Gallons,0 days,#2 fuel oil
79,1214667,Kings,2013-01-15,2014-02-13,152.00,Gallons,393 days,#2 fuel oil
80,1511260,New York,2016-02-24,2016-03-30,0.05,Gallons,35 days,#2 fuel oil
86,1607796,Richmond,2016-11-09,2017-05-25,0.00,NaN,197 days,#2 fuel oil
...,...,...,...,...,...,...,...,...
542714,1709896,Kings,2018-01-30,2018-01-30,5.00,Gallons,0 days,gasoline
542948,1800192,Kings,2017-12-31,2018-06-13,0.00,NaN,68 days,unknown material
543067,2102747,Richmond,2020-10-01,NaT,0.00,NaN,NaT,other - semi volitle organic compounds
543140,1606379,Queens,2016-09-27,2016-09-30,10.00,Gallons,3 days,#4 fuel oil
543267,1601260,Richmond,2016-05-07,2016-05-31,1.00,Gallons,24 days,gasoline

In [39]:
last_ten_years.sort_values(by=['Time_to_close'], ascending=False).head(10)

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
3654,1307426,New York,2013-10-18,2023-09-28,0.1,Gallons,3632 days,unknown petroleum
14714,1304944,New York,2013-08-06,2023-04-20,0.0,NaN,3544 days,#6 fuel oil
210255,1214400,Kings,2013-01-08,2022-06-28,0.0,NaN,3458 days,unknown petroleum
99237,1306370,Kings,2013-01-02,2023-02-06,0.0,NaN,3429 days,unknown material
214623,1310768,Queens,2014-02-12,2023-05-24,50.0,Gallons,3387 days,#2 fuel oil
490611,1308855,Bronx,2013-12-04,2023-02-07,0.0,Gallons,3352 days,#2 fuel oil
418844,1407055,Kings,2014-10-06,2023-11-02,0.0,NaN,3314 days,motor oil
473524,1301343,Kings,2013-05-09,2022-05-11,0.0,NaN,3289 days,#2 fuel oil
99231,1403569,Bronx,2014-07-03,2023-05-30,0.0,NaN,3253 days,#4 fuel oil
68056,1409412,Queens,2014-12-17,2023-10-25,0.0,Gallons,3234 days,unknown petroleum

In [40]:
last_ten_years.sort_values(by=['Quantity'], ascending=False).head(10)

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
32244,2107352,Queens,2021-11-09,2021-11-09,3416000.0,Gallons,0 days,jet fuel
423964,1214302,Kings,2013-01-05,2013-01-10,146000.0,Gallons,5 days,raw sewage
160702,1710723,Bronx,2018-02-26,2018-02-28,100000.0,Gallons,2 days,fire runoff
371866,1808399,Queens,2018-11-07,2018-11-07,60000.0,Gallons,0 days,#6 fuel oil
176120,1700784,New York,2017-04-25,2018-09-17,50000.0,Gallons,510 days,wastewater
474492,1404163,Queens,2014-07-17,2014-07-17,50000.0,NaN,0 days,diesel
67927,1901895,Queens,2019-05-20,2019-05-30,43595.0,Gallons,10 days,diesel
154158,1701182,Kings,2017-05-07,2022-07-06,37000.0,Gallons,1886 days,dielectric fluid
402870,1401675,Bronx,2014-05-16,2014-05-16,35000.0,Pounds,0 days,raw sewage
360023,1812785,Queens,2019-03-27,2019-03-29,26000.0,Pounds,0 days,other - R22

### Checking for duplicates

In [41]:
last_ten_years['Spill Number'].nunique()

16902

In [42]:
len(last_ten_years)

17341

In [43]:
last_ten_years[last_ten_years.duplicated()]

Empty DataFrame
Columns: [Spill Number, County, Spill Date, Close Date, Quantity, Units, Time_to_close, Material Name]
Index: []

In [44]:
last_ten_years[last_ten_years['Spill Number'].duplicated()]

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
6238,1214576,Bronx,2013-01-14,2013-04-05,10.0,Gallons,81 days,other - water
12033,1811650,Queens,2019-02-21,2020-01-27,0.0,NaN,339 days,gasoline
13118,2107001,Kings,2021-08-28,2021-10-28,0.0,NaN,0 days,unknown petroleum
15778,1306971,Queens,2013-10-03,2013-10-04,0.0,NaN,1 days,unknown material
16256,1502132,Kings,2015-05-28,2015-05-28,1.5,Pounds,0 days,asbestos
...,...,...,...,...,...,...,...,...
526097,2206537,New York,2022-10-29,2022-10-31,0.0,NaN,2 days,other - soap
527553,1809909,Bronx,2018-12-25,2019-04-11,200.0,Gallons,107 days,#2 fuel oil
533114,2106467,Bronx,2021-10-08,2021-10-12,0.0,NaN,4 days,unknown petroleum
539005,1310925,Queens,2014-02-19,2014-02-20,0.0,NaN,1 days,motor oil
541073,1303506,New York,2013-06-03,2018-01-29,5.0,Gallons,1672 days,diesel

In [45]:
dupe_cases = last_ten_years[last_ten_years['Spill Number'].duplicated()].copy()
dupe_cases

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
6238,1214576,Bronx,2013-01-14,2013-04-05,10.0,Gallons,81 days,other - water
12033,1811650,Queens,2019-02-21,2020-01-27,0.0,NaN,339 days,gasoline
13118,2107001,Kings,2021-08-28,2021-10-28,0.0,NaN,0 days,unknown petroleum
15778,1306971,Queens,2013-10-03,2013-10-04,0.0,NaN,1 days,unknown material
16256,1502132,Kings,2015-05-28,2015-05-28,1.5,Pounds,0 days,asbestos
...,...,...,...,...,...,...,...,...
526097,2206537,New York,2022-10-29,2022-10-31,0.0,NaN,2 days,other - soap
527553,1809909,Bronx,2018-12-25,2019-04-11,200.0,Gallons,107 days,#2 fuel oil
533114,2106467,Bronx,2021-10-08,2021-10-12,0.0,NaN,4 days,unknown petroleum
539005,1310925,Queens,2014-02-19,2014-02-20,0.0,NaN,1 days,motor oil
541073,1303506,New York,2013-06-03,2018-01-29,5.0,Gallons,1672 days,diesel

In [46]:
dupe_case_ids = dupe_cases['Spill Number'].unique()

In [47]:
dupe_case_ids

array([1214576, 1811650, 2107001, 1306971, 1502132, 1408282, 1909557,
       1806010, 1407866, 1215498, 1811463, 1309303, 1809686, 2110045,
       1805770, 1503165, 1810798, 2107946, 1506097, 1600764, 1300350,
       1600527, 1300067, 2207832, 2305582, 2110336, 1401448, 1806541,
       1407376, 2001654, 1510915, 1806002, 2206719, 1312246, 1607580,
       2201604, 1605633, 1406100, 2109549, 2201603, 1511773, 1611337,
       1403412, 1608445, 1702703, 1809007, 1504066, 1405212, 1501320,
       1804498, 2001094, 1711158, 2303774, 1905818, 1800767, 2304849,
       1605527, 1704075, 2204641, 1900167, 2202072, 1607904, 1608096,
       1802481, 1805363, 2208631, 1600231, 1906225, 2105263, 1510379,
       2203136, 1809032, 1903642, 1411810, 1607240, 1810424, 1606638,
       1505808, 1802513, 1701473, 1603763, 1508995, 2109794, 2109795,
       1911527, 1905667, 2007992, 1410072, 1411002, 2007491, 1903326,
       1812554, 1400287, 1704429, 1802772, 1708670, 1907331, 2207816,
       2208008, 1407807, 1610684, 1508795, 1801467, 2306375, 2305711,
       1600706, 2001346, 1404411, 1902782, 1403532, 1809925, 2008867,
       2004006, 1505003, 1601013, 1606396, 2306315, 1410063, 1611497,
       1809044, 1304283, 1408417, 1511915, 1903268, 2108368, 1303436,
       1412242, 1500904, 1306916, 1809370, 2204398, 2306808, 1703871,
       1804710, 2207351, 2300627, 1507277, 2208271, 1809480, 1215828,
       1500626, 1500962, 1505521, 1704463, 2004656, 1906429, 1512205,
       1804602, 1702067, 2301108, 1408430, 1701182, 1309252, 1600621,
       1902391, 1711452, 1303238, 1608001, 1302812, 1302811, 1409252,
       1605657, 1410476, 1606363, 1607576, 2306371, 1508236, 1304563,
       1215440, 1412067, 2201756, 1700454, 2107943, 2207777, 2209786,
       1710571, 1608637, 2108019, 2008123, 2100423, 2000574, 2206070,
       1302911, 2007058, 1406927, 1705260, 2102941, 1605762, 1402830,
       1304814, 2304209, 1504821, 1406961, 1405818, 1403875, 1405194,
       1406088, 1502126, 1401730, 1911238, 1710767, 1801710, 1701310,
       1805283, 1310506, 1708799, 1503539, 1408303, 1411073, 1411906,
       1410534, 1407699, 1502806, 1300013, 2306204, 1710587, 1304516,
       2004791, 2109165, 1908771, 2006213, 1511105, 1510640, 2101331,
       2104377, 1802257, 1304525, 1810349, 2301618, 1301240, 1903986,
       1311748, 1606060, 1302418, 1501768, 1902126, 2007347, 1309514,
       1509591, 1802862, 1802440, 1709333, 2202235, 2304446, 1704917,
       2200973, 2200756, 1708626, 2102895, 1501607, 1909855, 2109976,
       1311289, 1404365, 1709437, 1702545, 1700090, 1800607, 1216619,
       1701973, 1710094, 1705010, 1700200, 1702028, 1709537, 1708456,
       1805413, 2007899, 2107796, 1410962, 1302662, 1711571, 1507486,
       2307453, 1804773, 1606640, 2110541, 2205491, 2201868, 1501265,
       2008680, 1911197, 1305815, 1216562, 1401675, 1402099, 1408584,
       1500620, 1507881, 1604903, 2102182, 2304556, 2301277, 1811834,
       2100358, 1809509, 1811389, 1904700, 1216625, 1302967, 1902553,
       2106243, 1908766, 2303516, 1304379, 1401357, 2104202, 1311075,
       1701682, 2303710, 2304573, 1306630, 1405471, 2205107, 1911712,
       1501718, 1502849, 1602598, 1700933, 1910828, 1503098, 1601281,
       2301944, 1806237, 1403137, 1611466, 1403594, 1507619, 2205500,
       1701373, 1810300, 1504626, 1906788, 1911324, 1909842, 1307775,
       1302079, 1805518, 1605603, 1900931, 1707698, 1710051, 1505618,
       1810183, 1807296, 1410955, 2103537, 1406369, 2208469, 1411766,
       1600946, 1609022, 2010245, 1402146, 1214376, 1214553, 1302554,
       1403859, 1309481, 1700341, 1309517, 1306037, 1601017, 2206537,
       1809909, 2106467, 1310925, 1303506])

In [48]:
last_ten_years[last_ten_years['Spill Number'].isin(dupe_case_ids)]

,Spill Number,County,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
6237,1214576,Bronx,2013-01-14,2013-04-05,10.0,Gallons,81 days,dielectric fluid
6238,1214576,Bronx,2013-01-14,2013-04-05,10.0,Gallons,81 days,other - water
12032,1811650,Queens,2019-02-21,2020-01-27,0.0,NaN,339 days,diesel
12033,1811650,Queens,2019-02-21,2020-01-27,0.0,NaN,339 days,gasoline
13117,2107001,Kings,2021-08-28,2021-10-28,0.0,NaN,0 days,hydraulic oil
...,...,...,...,...,...,...,...,...
533114,2106467,Bronx,2021-10-08,2021-10-12,0.0,NaN,4 days,unknown petroleum
539004,1310925,Queens,2014-02-19,2014-02-20,0.0,NaN,1 days,diesel
539005,1310925,Queens,2014-02-19,2014-02-20,0.0,NaN,1 days,motor oil
541072,1303506,New York,2013-06-03,2018-01-29,5.0,Gallons,1672 days,hydraulic oil
541073,1303506,New York,2013-06-03,2018-01-29,5.0,Gallons,1672 days,diesel

### Group the spills by their county

In [49]:
last_ten_years.groupby(['County'])

In [50]:
last_ten_years.groupby(['County']).count()

,Spill Number,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
County,,,,,,,
Bronx,2588,2588,2442,2588,1382,2442,2588
Kings,3932,3932,3712,3932,1952,3708,3932
New York,3936,3936,3726,3936,2272,3726,3936
Queens,5595,5595,5360,5595,3410,5360,5595
Richmond,1290,1290,1244,1290,697,1243,1290

### Make a new dataframe called "nyc_by_borough"

In [51]:
nyc_by_borough = last_ten_years.groupby(['County']).count()
nyc_by_borough

,Spill Number,Spill Date,Close Date,Quantity,Units,Time_to_close,Material Name
County,,,,,,,
Bronx,2588,2588,2442,2588,1382,2442,2588
Kings,3932,3932,3712,3932,1952,3708,3932
New York,3936,3936,3726,3936,2272,3726,3936
Queens,5595,5595,5360,5595,3410,5360,5595
Richmond,1290,1290,1244,1290,697,1243,1290

I only need the spull number and the county columns, so I can get rid of the rest

In [52]:
nyc_by_borough = nyc_by_borough[['Spill Number']].reset_index()
nyc_by_borough

     County  Spill Number
0     Bronx          2588
1     Kings          3932
2  New York          3936
3    Queens          5595
4  Richmond          1290

### Rename columns

In [53]:
nyc_by_borough.rename(columns={'Spill Number': 'spills'}, inplace=True)
nyc_by_borough

     County  spills
0     Bronx    2588
1     Kings    3932
2  New York    3936
3    Queens    5595
4  Richmond    1290

In [54]:
alt.Chart(nyc_by_borough).mark_bar().encode(
    x='County',
    y='spills'
)

alt.Chart(...)

## Find total spills per year

I start by using the ny_spills dataframe to create a new one just including the past ten years. I'm starting from ny_spills because I want to access all of the columns again, which I got rid of when I made a new dataframe after that

In [55]:
entire_df_last_ten = ny_spills[ny_spills['Spill Date'] >= '2013-01-01'] 
entire_df_last_ten

,Spill Number,Program Facility Name,Street 1,Street 2,Locality,County,ZIP Code,SWIS Code,DEC Region,Spill Date,...,Contributing Factor,Waterbody,Source,Close Date,Material Name,Material Family,Quantity,Units,Recovered,Time_to_close
45,1307174,# 137/KOWALIK RES.: 550 UST,160 HOLSAPPLE RD.,NaN,DOVER PLAINS,Dutchess,NaN,1426,3,2013-10-10,...,Tank Test Failure,NaN,Commercial/Industrial,2013-11-20,#2 fuel oil,Petroleum,0.0,NaN,0.0,41 days
53,1307377,# UNIT 187 RES.: 300 UST,160 HOLSAPPLE RD,NaN,DOVER PLAINS,Dutchess,NaN,1426,3,2013-10-17,...,Tank Test Failure,NaN,Private Dwelling,2013-11-20,#2 fuel oil,Petroleum,0.0,Gallons,0.0,34 days
70,2307439,#2 F/O IN GULLY (SMITH RESIDENCE),3666 MIDDLE ROAD,NaN,BURDETT,Schuyler,14818,4926,8,2023-12-08,...,Traffic Accident,NaN,Tank Truck,NaT,diesel,Petroleum,1200.0,Gallons,0.0,NaT
74,1305446,#2 FUEL OIL SPILL FROM FILL PIPE,41 ELLIOT PLACE,NaN,BRONX,Bronx,NaN,301,2,2013-08-20,...,Equipment Failure,NaN,Commercial/Industrial,2018-07-23,#2 fuel oil,Petroleum,5.0,Gallons,0.0,1798 days
76,1307550,#2 FUEL OIL SPILL,204 - 206 WEST 133RD ST,NaN,MANHATTAN,New York,NaN,3101,2,2013-10-23,...,Equipment Failure,NaN,Commercial/Industrial,2013-10-23,#2 fuel oil,Petroleum,5.0,Gallons,0.0,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543247,1305840,ZYGAWSKI RES.,1 SUMMERVILLE RD,NaN,GOSHEN,Orange,NaN,3630,3,2013-09-03,...,Equipment Failure,NaN,Private Dwelling,2013-10-09,#2 fuel oil,Petroleum,0.0,NaN,0.0,36 days
543263,2109824,ZZ MANAGEMENT,380 5TH AVE,NaN,TROY,Rensselaer,12180,4217,4,2022-02-18,...,Equipment Failure,NaN,Commercial/Industrial,NaT,gasoline,Petroleum,0.0,NaN,0.0,NaT
543264,2106690,ZZ PETROLEUM,2429 RT 9,NaN,MALTA,Saratoga,NaN,4640,5,2021-10-18,...,Equipment Failure,NaN,Gasoline Station or other PBS Facility,2021-12-29,gasoline,Petroleum,6.0,NaN,0.0,72 days
543265,2304668,ZZ PETROLEUM,2429 RT9,NaN,MALTA,Saratoga,NaN,4640,5,2023-08-30,...,Equipment Failure,NaN,Gasoline Station or other PBS Facility,NaT,gasoline,Petroleum,0.0,NaN,0.0,NaT
543267,1601260,`-GOETHALS SUB STATION,100 RIVER RD,NaN,STATION ISLAND,Richmond,NaN,4301,2,2016-05-07,...,Human Error,NaN,Transformer,2016-05-31,gasoline,Petroleum,1.0,Gallons,0.0,24 days

### Once again, I'll get rid of everything that's not a county in New York City

In [56]:
new_york_city_last_ten = entire_df_last_ten[(entire_df_last_ten['County'] == 'Bronx') | (entire_df_last_ten['County'] == 'Kings') | (entire_df_last_ten['County']== 'New York') | (entire_df_last_ten['County']=='Queens')| (entire_df_last_ten['County']=='Richmond')]
new_york_city_last_ten

,Spill Number,Program Facility Name,Street 1,Street 2,Locality,County,ZIP Code,SWIS Code,DEC Region,Spill Date,...,Contributing Factor,Waterbody,Source,Close Date,Material Name,Material Family,Quantity,Units,Recovered,Time_to_close
74,1305446,#2 FUEL OIL SPILL FROM FILL PIPE,41 ELLIOT PLACE,NaN,BRONX,Bronx,NaN,301,2,2013-08-20,...,Equipment Failure,NaN,Commercial/Industrial,2018-07-23,#2 fuel oil,Petroleum,5.00,Gallons,0.0,1798 days
76,1307550,#2 FUEL OIL SPILL,204 - 206 WEST 133RD ST,NaN,MANHATTAN,New York,NaN,3101,2,2013-10-23,...,Equipment Failure,NaN,Commercial/Industrial,2013-10-23,#2 fuel oil,Petroleum,5.00,Gallons,0.0,0 days
79,1214667,#2 FUEL SPILL AND VAPOR COMPLAINTS,119 BROOKLYN AVENUE,NaN,BROOKLYN,Kings,NaN,2401,2,2013-01-15,...,Equipment Failure,NaN,Private Dwelling,2014-02-13,#2 fuel oil,Petroleum,152.00,Gallons,0.0,393 days
80,1511260,#2 FUEL SPILL ON STREET,7 WEST 66TH STREET,NaN,MANHATTAN,New York,NaN,3101,2,2016-02-24,...,Human Error,NaN,"Institutional, Educational, Gov., Other",2016-03-30,#2 fuel oil,Petroleum,0.05,Gallons,0.0,35 days
86,1607796,#2-322687,60 BAY ST,NaN,STATEN ISLAND,Richmond,NaN,4301,2,2016-11-09,...,Tank Test Failure,NaN,Commercial Vehicle,2017-05-25,#2 fuel oil,Petroleum,0.00,NaN,0.0,197 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542714,1709896,ZENITH TERMINAL,25 PAGE AVE,NaN,BROOKLYN,Kings,NaN,2401,2,2018-01-30,...,Equipment Failure,NaN,Commercial/Industrial,2018-01-30,gasoline,Petroleum,5.00,Gallons,0.0,0 days
542948,1800192,ZINCINZO LUPO,82 BAY 46TH ST,NaN,BROOKLYN,Kings,NaN,2401,2,2017-12-31,...,Unknown,NaN,Private Dwelling,2018-06-13,unknown material,Other,0.00,NaN,0.0,68 days
543067,2102747,ZONED MANUFACTURING PROPERTY,155 ANDROVETTE ST,NaN,STATEN ISLAND,Richmond,NaN,4301,2,2020-10-01,...,Unknown,NaN,Commercial/Industrial,NaT,other - semi volitle organic compounds,Other,0.00,NaN,0.0,NaT
543140,1606379,ZUCKER HILLSIDE HOSPITAL,75-59 263RD ST,NaN,GLEN OAKS,Queens,NaN,4101,2,2016-09-27,...,Equipment Failure,NaN,Commercial/Industrial,2016-09-30,#4 fuel oil,Petroleum,10.00,Gallons,0.0,3 days
543267,1601260,`-GOETHALS SUB STATION,100 RIVER RD,NaN,STATION ISLAND,Richmond,NaN,4301,2,2016-05-07,...,Human Error,NaN,Transformer,2016-05-31,gasoline,Petroleum,1.00,Gallons,0.0,24 days

### Group spills by the Spill Date

In [57]:
annual_spills = entire_df_last_ten.groupby([pd.Grouper(key='Spill Date', axis=0, freq='A')]).count()

In [58]:
annual_spills

,Spill Number,Program Facility Name,Street 1,Street 2,Locality,County,ZIP Code,SWIS Code,DEC Region,Received Date,Contributing Factor,Waterbody,Source,Close Date,Material Name,Material Family,Quantity,Units,Recovered,Time_to_close
Spill Date,,,,,,,,,,,,,,,,,,,,
2013-12-31,12572,12572,12572,1416,12551,12572,1909,12572,12572,12571,12572,680,12572,12413,12572,12572,12572,7800,12572,12412
2014-12-31,12873,12872,12870,1502,12836,12873,2368,12873,12873,12871,12873,723,12873,12666,12873,12873,12873,7755,12873,12664
2015-12-31,12789,12788,12788,1370,12776,12789,1865,12789,12789,12784,12789,637,12789,12570,12789,12789,12789,8136,12789,12565
2016-12-31,12259,12258,12258,1369,12236,12259,1337,12259,12259,12257,12259,627,12259,12043,12259,12259,12259,7915,12259,12041
2017-12-31,11995,11994,11994,1316,11952,11995,1254,11995,11995,11976,11995,662,11995,11661,11995,11995,11995,7722,11995,11642
2018-12-31,13393,13393,13390,936,13370,13393,1684,13393,13393,13390,13393,875,13393,12947,13393,13393,13393,8494,13393,12944
2019-12-31,12561,12561,12560,816,12524,12561,2035,12561,12561,12558,12561,743,12561,11959,12561,12561,12561,6593,12561,11957
2020-12-31,11227,11227,11226,601,11214,11227,1354,11227,11227,11220,11227,621,11227,10557,11227,11227,11227,5360,11227,10553
2021-12-31,11115,11115,11115,734,11104,11115,1338,11115,11115,11102,11115,613,11115,10146,11115,11115,11115,5263,11115,10143
2022-12-31,10462,10462,10462,651,10456,10462,1674,10462,10462,10460,10462,521,10462,9103,10462,10462,10462,5358,10462,9102
2023-12-31,9959,9959,9958,633,9952,9959,1458,9959,9959,9953,9959,552,9959,6893,9959,9959,9959,4980,9959,6890

In [59]:
print(annual_spills.columns)

Index(['Spill Number', 'Program Facility Name', 'Street 1', 'Street 2',
       'Locality', 'County', 'ZIP Code', 'SWIS Code', 'DEC Region',
       'Received Date', 'Contributing Factor', 'Waterbody', 'Source',
       'Close Date', 'Material Name', 'Material Family', 'Quantity', 'Units',
       'Recovered', 'Time_to_close'],
      dtype='object')

I can get rid of every column but Spill Date and Spill Number

In [63]:
new_annual_spills = annual_spills[['Spill Number']].reset_index()
new_annual_spills

   Spill Date  Spill Number
0  2013-12-31         12572
1  2014-12-31         12873
2  2015-12-31         12789
3  2016-12-31         12259
4  2017-12-31         11995
5  2018-12-31         13393
6  2019-12-31         12561
7  2020-12-31         11227
8  2021-12-31         11115
9  2022-12-31         10462
10 2023-12-31          9959

### Rename columns

In [65]:
new_annual_spills.rename(columns={'Spill Number': 'spills'}, inplace=True)
new_annual_spills

   Spill Date  spills
0  2013-12-31   12572
1  2014-12-31   12873
2  2015-12-31   12789
3  2016-12-31   12259
4  2017-12-31   11995
5  2018-12-31   13393
6  2019-12-31   12561
7  2020-12-31   11227
8  2021-12-31   11115
9  2022-12-31   10462
10 2023-12-31    9959

I want to create a new column with just the year

In [67]:
new_annual_spills['year'] = new_annual_spills['Spill Date'].dt.year
new_annual_spills

   Spill Date  spills  year
0  2013-12-31   12572  2013
1  2014-12-31   12873  2014
2  2015-12-31   12789  2015
3  2016-12-31   12259  2016
4  2017-12-31   11995  2017
5  2018-12-31   13393  2018
6  2019-12-31   12561  2019
7  2020-12-31   11227  2020
8  2021-12-31   11115  2021
9  2022-12-31   10462  2022
10 2023-12-31    9959  2023

In [70]:
new_annual_spills = new_annual_spills[['year', 'spills']].copy()
new_annual_spills

    year  spills
0   2013   12572
1   2014   12873
2   2015   12789
3   2016   12259
4   2017   11995
5   2018   13393
6   2019   12561
7   2020   11227
8   2021   11115
9   2022   10462
10  2023    9959

Lastly, I can make a chart that visualizes the amount of spills in each of the past 10 years

In [71]:
alt.Chart(new_annual_spills).mark_bar().encode(
    x='year:O',
    y='spills'
).properties(
    title='New York City toxic spills by year'
)

alt.Chart(...)

Through this, I see that the amount of spills across New York City has been on a constant decline since 2019. One potential story could be about what goes into this decrease: have we seen heavier penalties, more laws on the books or are have some of the more frequent spillers tightened up operations? What does this mean for the future, and what else can be done to futher decrease toxic spills?

I unfortunately was not able to get in touch with the Department that creates the data â€“ they told me they'd have someone who could answer my questions get in touch with me, but no one ever did, and no one's answered my calls since  nor was I able to get records for a specific spill in time so that I could better understand the department's process. 

After reporting more, I think it also could be cool to do a story about some of the city's largest spillers. That would require talking with the department about why some of the quantity units are in gallons, others are in pounds and many are listed as NaN. After that, if there is a way to standardize that, I could do some subsetting to find the largest polluters, which I think could be a very interesting story as well.